{% extends "layout.html" %}
{% block title %}
Nuestro trabajo{% endblock %}
{% block content %}
<h1>Equipo de Desarrollo</h1>

<div class="container">
    <div class="card">
        <h2>Miembro 1</h2>
        <p><strong>Rol: </strong></p>
        <p><strong>GitHub: </strong></p>
        <p><strong>Tareas Realizadas:</strong></p>
        <ul class="task-list">
            <li class="task-item"><strong>Tarea 1: </strong></li>
            <li class="task-item">
                <strong>Fecha de Inicio:</strong> 
            </li>
            <li class="task-item">
                <strong>Horas Dedicadas:</strong> 
            </li>
            <li class="task-item">
                <strong>Estado:</strong> En Progreso
            </li>
        </ul>
    </div>

    <div class="card">
        <h2>Miembro 2</h2>
        <p><strong>Rol: </strong></p>
        <p><strong>GitHub: </strong></p>
        <p><strong>Tareas Realizadas:</strong></p>
        <ul class="task-list">
            <li class="task-item"><strong>Tarea 1: </strong></li>
            <li class="task-item">
                <strong>Fecha de Inicio:</strong> 
            </li>
            <li class="task-item">
                <strong>Horas Dedicadas:</strong> 
            </li>
            <li class="task-item">
                <strong>Estado:</strong> Completado
            </li>
        </ul>
    </div>

    <div class="card">
        <h2>Miembro 3</h2>
        <p><strong>Rol: </strong></p>
        <p><strong>GitHub: </strong></p>
        <p><strong>Tareas Realizadas:</strong></p>
        <ul class="task-list">
            <li class="task-item"><strong>Tarea 1: </strong></li>
            <li class="task-item">
                <strong>Fecha de Inicio:</strong> 
            </li>
            <li class="task-item">
                <strong>Horas Dedicadas:</strong> 
            </li>
            <li class="task-item">
                <strong>Estado:</strong> En Progreso
            </li>
        </ul>
    </div>
</div>

    {% endblock %}