<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Inicio</a>
            <a href="{{ url_for('csimetrico') }}" class="navbar-item">C. Simétrico</a>
            <a href="{{ url_for('casimetrico') }}" class="navbar-item">C. Asimétrico</a>
            <a href="{{ url_for('about') }}" class="navbar-item">Nuestro Equipo</a>
            <a href="{{ url_for('doc') }}" class="navbar-item">Documentación</a>
            <a href="{{ url_for('otro') }}" class="navbar-item">Otro</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>SAD - 2º ASIR - IES  &copy; 2023</p>
            </footer>
        </div>
    </body>
</html>